*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    background-image: url();
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    position: fixed;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    padding-left: 20px;
    padding-top: 30px;
}
.menu{
    width: 400px;
    height: 70px;
}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul, li{
    list-style: none;
    margin-left: 65px;
    margin-top: 30px;
    font-size: 16px;
}
a li ul{
    text-decoration: none;
    color: #514949;
}